
.align-left {
  figcaption {
    padding: .4em 1.5em 1em 0;
  }
  .media.image {
    padding: .4em 1.5em 0 0;
  }
}
.align-right {
  figcaption {
    padding: .4em 0 1em 1.5em;
  }
  .media.image {
    padding: .4em 0 0 1.5em;
  }
}
.caption {
  figcaption {
    padding-top: 1.1rem;
    text-align: left;
  }
}
.media {
  iframe.google-form {
    width: 100%;
    min-height: 600px;
  }
  iframe.media-oembed-content {
    width: 100%;
    min-height: 300px;
    border: 0;
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .caption {
    figcaption {
      padding-top: 1.2rem;
    }
  }
}
@media only screen and (min-width: 1500px) {
  .caption {
    figcaption {
      padding-top: 1.3rem;
    }
  }
}
