
.dropzonejs-media {
  padding: 0 20px;

  .field--name-revision-log-message,
  .ui-dialog .ui-widget-content.ui-dialog-buttonpane,
  .form-type-managed-file input[type="submit"],
  .entity-browser-show-selection,
  .entity-browser-remove-selected-entity {
    display: none;
  }

  img,
  iframe:not(.cke_wysiwyg_frame) {
    max-width: 300px;
    max-height: 200px;
    height: auto;
    width: auto;
  }

  .entities-list {
    display: none;
  }

  .image-preview {
    width: 100%;
  }

}

#entities > div {
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: 0;
  }
}

.dropzone .dz-preview .dropzonejs-approve-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: 500;
  background-image: url('../img/approve-icon-empty.png');
  background-size: cover;

  &.approved {
    background-image: url('../img/approve-icon.png');
  }
}

[data-drupal-selector="edit-similar-items"] {
  .form-radios {
    display: flex;
    flex-wrap: wrap;

    > div:first-child {
      width: 100%;
    }

    > div {
      width: 33%;
    }
  }

  label span.media {
    display: block;
  }
}
