$color_1: #fff;
$color_2: #2e2d29;

.similar-media-options {
  margin-right: 20px;
  img {
    max-width: 100px;
  }
  picture {
    max-width: 100px;
  }
}
.cke_editable {
  img {
    max-width: 100%;
  }
  picture {
    max-width: 100%;
  }
}
.cke_button__drupalmedialibrary_icon {
  background-image: url(./assets/drupalimage.png) !important;
}
.media-library-item__edit {
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 65px);
  background: #004f80;
  border: 2px solid #60c2ff;
  padding: 1rem 2rem 1.15rem;
  color: $color_1;
  font-size: 2rem;
  height: auto;
  width: auto;
  &:hover {
    background: #60c2ff;
    border-bottom: 2px solid #60c2ff;
    color: $color_2;
    top: calc(50% - 20px);
    left: calc(50% - 65px);
    padding: 1rem 2rem 1.15rem;
    font-size: 2rem;
    height: auto;
    width: auto;
  }
}
drupal-media {
  &:hover {
    .media-library-item__edit {
      display: block;
    }
  }
}
article {
  &:hover {
    .media-library-item__edit {
      display: block;
    }
  }
}
drupal-media[data-align=right] {
  float: right;
}
.dropzone.dropzone-enable {
  .dz-preview {
    .dz-error-message {
      opacity: 1;
    }
  }
}
